{% extends 'base.html' %}

{% block head %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">        
{% endblock %}
{% block body %}
<div id="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form id="login" method="POST", action="{{passData}}">
    {% block hhh %}<h3>Flask Notes</h3>{% endblock %}
    <label for="fn">Filename</label>
    <input name="fn" type="text" placeholder="Filename" id="Filename">
    <button>{% block bbb %}Save file{% endblock %}</button>
    <br><block>{{bad}}</block>
</form>
{% endblock %}
